# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files
sites/default/files/less/
sites/default/files/css/
sites/default/files/js/
sites/default/files/styles/
sites/default/files/private
sites/default/files/tmp
sites/*/private

# Ignore some other stuff
*.swp
.DS_Store
tmp
