
.icon-angle-circled-right:before { content: '\e804'; } /* '' */
.icon-facebook-1:before { content: '\e808'; } /* '' */
.icon-youtube-play:before { content: '\e807'; } /* '' */
.icon-flickr:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */