
.icon-angle-circled-right:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-youtube-play:before { content: '\e807'; } /* '' */
.icon-flickr:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-pinterest-circled:before { content: '\e80b'; } /* '' */
.icon-picasa:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */