@body-txt-gray: #404b50;
@body-txt-light-gray: #404445;
@body-txt-dark-gray: #4e5456;
@body-txt-med-gray: #7d8284;
@nav-txt-gray: #80939d;
@border-gray: #c5ced2;
@border-gray-light: #e3e4e4;
@SHOFCO-black: #313c3f;
@SHOFCO-blue: #00b3e3;
@SHOFCO-red: #ff5a5d;
@SHOFCO-orange: #ff9b2f;
@SHOFCO-yellow: #ffb82f;
@SHOFCO-darkBlue: #1772a0;
@SHOFCO-lightBlue: #74c5d6;
@SHOFCO-lightBlue-ptp-donate: #00b4e3;
@SHOFCO-light-gray: #c6d3da;
@SHOFCO-light-gray-2: #e1e1e1;
@darkBlue-on-blue: #005268;
@link-hover-blue: #404b50;
@link-ptp-begin: #b4babc;
@selection-blue: desaturate(lighten(@SHOFCO-blue, 40%), 40%);

@import 'normalize.less';
@import '../fontello/css/fontello-codes.css';
@import '../fontello/css/fontello.css';
@import 'forms.less';
@import 'type.less';
@import 'global.less';

@import 'header.less';
@import 'footer.less';
@import 'interior.less';

@import 'big-interior-feature.less';
@import 'big-homepage-feature.less';
@import 'chalkboard-feature.less';
@import 'homepage-features.less';
@import 'homepage.less';
@import 'homepage-slider.less';

@import 'banner-slideshow.less';
@import 'sidebar-nav.less';
@import 'sidebar-blocks.less';
@import 'initiatives-index.less';
@import 'our-model.less';
@import 'our-innovation.less';
@import 'project-listing.less';
@import 'project-listing-thumbnails.less';
@import 'locations.less';
@import 'impact.less';
@import 'our-team.less';
@import 'person.less';
@import 'boards.less';
@import 'mailchimp-sidebar.less';
@import 'awards-and-press.less';
@import 'videos-index.less';
@import 'video.less';
@import 'partners.less';
@import 'ptp.less';

@import 'sitemap.less';
@import 'tinymce.less';
@import 'helpers.less';
@import 'print.less';
