@import 'normalize.less';
@import '../fontello/css/fontello-codes.css';
@import '../fontello/css/fontello.css';

@body-txt-gray: #404b50;
@nav-txt-gray: #80939d;
@border-gray: #c5ced2;
@SHOFCO-blue: #00b3e3;
@SHOFCO-red: #ff5a5d;
@SHOFCO-orange: #ff9b2f;
@SHOFCO-yellow: #ffb82f;
@SHOFCO-light-gray: #c6d3da;
@selection-blue: desaturate(lighten(@SHOFCO-blue, 40%), 40%);

html { 
  font-size: 62.5%; 
  .font-smoothing();
} 
body { 
  .typeSet(16,22);
  font-family: 'Gotham Narrow A', 'Gotham Narrow B', sans-serif; 
  font-weight: 400; 
  font-style: normal;
  color: @body-txt-gray;
}
img { 
  max-width: 100%; 
  height: auto; 
} 
.ie8 img {
  width: auto;
}
.lt-ie7 img {
  width: 100%; 
}

::-moz-selection {
    background: @selection-blue;
    text-shadow: none;
}
::selection {
    background: @selection-blue;
    text-shadow: none;
}

li a.active,
a {
  color: @SHOFCO-blue;
  text-decoration: none;
  .transition( ~"color", 0.25s );
}
.no-touch {
  li a.active:hover,
  a:hover {
    color: darken(@SHOFCO-blue, 25%);
  }
}
a:focus {
  outline: none;
}

//Undo Drupal List Type Styles

ul {
  padding: 0;
  margin: 0;
}
ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
li.expanded, 
li.collapsed, 
li.leaf {
  padding: 0;
}

.lt-ie9 {
  ul.menu li.leaf {
    list-style-type: none !important;
    list-style-image: none !important;
  }
  ul.menu li.expanded {
    list-style-type: none !important;
    list-style-image: none !important;
  }
}

//Overall Layout Wrapper

@media only screen and (min-width: 1280px) {
  body {
    background: lighten(@SHOFCO-light-gray,15%) url('../img/fleck-pattern-a.png') repeat 0 0;
  }
  #page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 8px #c4d3d7;
    background: #fff;
  }
}

#main-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    #main {
      padding: 30px;
    }
}

a.more-link {
  .typeSet(14,17);
  letter-spacing: 0.08em;
  font-weight: 700;
  text-transform: uppercase;
}


@import 'header.less';
@import 'big-homepage-feature.less';
@import 'homepage-features.less';
@import 'homepage.less';
@import 'tinymce.less';
@import 'helpers.less';
@import 'print.less';
