@import 'normalize.less';
@import '../fontello/css/hfa-codes.css';
@import '../fontello/css/hfa.css';

@body-txt-gray: #404b50;
@nav-txt-gray: #80939d;
@SHOFCO-blue: #00b3e3;
@SHOFCO-red: #ff5a5d;
@SHOFCO-light-gray: #c6d3da;
@selection-blue: desaturate(lighten(@SHOFCO-blue, 40%), 40%);

html { 
  font-size: 62.5%; 
  .font-smoothing();
} 
body { 
  font-size: 16px; 
  font-size: 1.6rem; 
  line-height: 20px; 
  line-height: 2rem; 
  font-family: 'Gotham Narrow A', 'Gotham Narrow B', sans-serif; 
  font-weight: 400; 
  font-style: normal;
  color: @body-txt-gray;
}
img {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
    background: @selection-blue;
    text-shadow: none;
}
::selection {
    background: @selection-blue;
    text-shadow: none;
}

li a.active,
a {
  color: @SHOFCO-blue;
  text-decoration: none;
  .transition( ~"color", 0.25s );
}
.no-touch {
  li a.active:hover,
  a:hover {
    color: darken(@SHOFCO-blue, 25%);
  }
}
a:focus {
  outline: none;
}

//Undo Drupal List Type Styles

ul {
  padding: 0;
  margin: 0;
}
ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
li.expanded, 
li.collapsed, 
li.leaf {
  padding: 0;
}

//Overall Layout Wrapper

@media only screen and (min-width: 1280px) {
  body {
    background: lighten(@SHOFCO-light-gray,15%) url('../img/fleck-pattern-a.png') repeat 0 0;
  }
  #page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 8px #c4d3d7;
    background: #fff;
  }
}

@import 'header.less';
@import 'homepage.less';
@import 'helpers.less';
@import 'print.less';
