@tan: #fefdf5;

body.page-node-12 {
  h1#page-title {
    .hide();
  }
  #main-wrapper {
    max-width: inherit;
    margin: 0;
  }
  #main-wrapper #main {
    padding: 0;
  }
  &.logged-in div.tabs {
    padding: 20px;
  }
  #content-column #content {
    margin-bottom: 0;
  }
}

body.page-node-12 #main-wrapper {
  .tier {
    .tier-content {
      padding: 30px;
      overflow: hidden;
      p {
        font-weight: 500;
      }
      h2 {
        text-align: center;
        max-width: 400px;
        font-family: 'Gotham Narrow A', 'Gotham Narrow B', sans-serif;
        font-weight: 700;
        margin: 0 auto 20px auto;
        .typeSet(34,36);
      }
    }
  }
  #model-tier1,
  #model-tier3,
  #model-tier5 {
    overflow: hidden;
    background: @tan;
    .tier-content {
      padding: 10px 30px 30px 30px;
    }
    .tier-imagery {
      text-align: center;
      max-width: 550px;
      margin: 0 auto 20px;
    }
    h2 {
      color: #495c61;
    }
    p {
      color: #98a1a4;
    }
  }
  #model-tier3,
  #model-tier5 {
    .tier-imagery {
      margin: 0 auto;
    }
  }
  #model-tier2,
  #model-tier4 {
    h2, p {
      color: #fff;
    }
  }
  #model-tier2 {
    background: #74c5d6 url('/sites/all/themes/sho/img/grain-blue.gif') repeat 0 0;
  }
  #model-tier4 {
    background: #f7c247 url('/sites/all/themes/sho/img/grain-yellow.gif') repeat 0 0;
  }
}

#main-wrapper p.button {
  text-align: right;
  a {
    background: @SHOFCO-red;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .08em;
    padding: 12px 14px;
    border-radius: 4px;
    .typeSet(14,18);
    font-weight: 700;
    .border-radius(4px);
    .transition();
    display: inline-block;
  }
}

.no-touch #main-wrapper p.button a:hover {
  color: #fff;
  background: @SHOFCO-blue;
}

@media (min-width: 600px) {
  body.page-node-12 #main-wrapper {
    #model-tier1 .tier-content,
    #model-tier3 .tier-content,
    #model-tier5 .tier-content {
      padding: 30px 100px 60px 100px;
    }
    #model-tier2 .tier-content,
    #model-tier4 .tier-content {
      padding: 50px 100px 60px 100px;
    }
  }
}

@media (min-width: 800px) {
  body.page-node-12 #main-wrapper {
    #model-tier1 .tier-content,
    #model-tier3 .tier-content,
    #model-tier5 .tier-content {
      padding: 30px 130px 60px 130px;
    }
    #model-tier2 .tier-content,
    #model-tier4 .tier-content {
      padding: 50px 130px 60px 130px;
      p {
        .typeSet(19,24);
      }
    }
  }
}

@media (min-width: 980px) {
  body.page-node-12 #main-wrapper {
    .tier {
      .tier-content {
        h2 {
          text-align: left;
          max-width: auto;
          margin: 0 0 20px 0;
        }
      }
    }
    #model-tier1 {
      background: @tan url('/sites/all/themes/sho/img/model-tier1-c-small.gif') no-repeat -30px center;
      .tier-imagery {
        margin-bottom: 0;
        display: none;
      }
      .tier-content {
        background: @tan;
        margin-left: 60%;
        padding: 30px 30px 30px 0;
      }
    }
    #model-tier2 {
      overflow: hidden;
      .tier-inner {
        overflow: hidden;
        background: url('/sites/all/themes/sho/img/model-tier2-small.jpg') no-repeat right center;
      }
      .tier-imagery {
        display: none;
      }
      .tier-content {
        background: #74c5d6 url('/sites/all/themes/sho/img/grain-blue.gif') repeat 0 0;
        width: 50%;
        padding: 30px 50px 30px 30px;
        .box-sizing();
        p {
          .typeSet(16,20);
        }
      }
    }
    #model-tier3 {
      background: @tan url('/sites/all/themes/sho/img/model-tier3-c-small.gif') no-repeat -130px center;
      .tier-imagery {
        margin-bottom: 0;
        display: none;
      }
      .tier-content {
        background: @tan;
        margin-left: 60%;
        padding: 30px 30px 30px 0;
      }
    }
    #model-tier4 {
      overflow: hidden;
      .tier-inner {
        overflow: hidden;
        background: url('/sites/all/themes/sho/img/model-tier4-small.jpg') no-repeat right center;
      }
      .tier-imagery {
        display: none;
      }
      .tier-content {
        background: #f7c348 url('/sites/all/themes/sho/img/grain-yellow.gif') repeat 0 0;
        width: 50%;
        padding: 30px 50px 30px 30px;
        .box-sizing();
        p {
          .typeSet(16,20);
        }
      }
    }
    #model-tier5 {
      background: @tan url('/sites/all/themes/sho/img/model-tier5-c-small.gif') no-repeat -120px center;
      .tier-imagery {
        margin-bottom: 0;
        display: none;
      }
      .tier-content {
        background: @tan;
        margin-left: 60%;
        padding: 30px 30px 30px 0;
      }
    }
  }
  .backgroundsize body.page-node-12 #main-wrapper {
    #model-tier2 {
      .tier-inner {
        background: url('/sites/all/themes/sho/img/model-tier2.jpg') no-repeat right center;
        .background-size(~"cover");
      }
    }
    #model-tier4 {
      .tier-inner {
        background: url('/sites/all/themes/sho/img/model-tier4.jpg') no-repeat right center;
        .background-size(~"cover");
      }
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 980px),
       only screen and (min-device-pixel-ratio: 2) and (min-width: 980px) {
  .modern {

    &.backgroundsize body.page-node-12 #main-wrapper {
      #model-tier1 {
        background-image: url('/sites/all/themes/sho/img/model-tier1-c.gif');
        .background-size(~"618px 498px");
      }
      #model-tier3 {
        background-image: url('/sites/all/themes/sho/img/model-tier3-c.gif');
        .background-size(~"613px 578px");
      }
      #model-tier5 {
        background-image: url('/sites/all/themes/sho/img/model-tier5-c.gif');
        .background-size(~"637px 640px");
      }
    }

  }
}

@media (min-width: 1024px) {
  body.page-node-12 #main-wrapper {
    .tier-content {
      h2 {
        .typeSet(34,36);
      }
    }
    #model-tier1 {
      .tier-content {
        margin-left: 60%;
        padding: 80px 80px 80px 0;
        p {
          .typeSet(19,24);
        }
      }
    }
    #model-tier2 {
      .tier-content {
        padding: 50px 80px 50px 50px;
      }
    }
    #model-tier4 {
      .tier-content {
        padding: 50px 80px 50px 50px;
        p {
          .typeSet(19,24);
        }
      }
    }
    #model-tier3,
    #model-tier5 {
      .tier-content {
        padding: 50px 120px 50px 0;
        margin-left: 55%;
      }
    }
  }
}

@media (min-width: 1150px) {
  body.page-node-12 #main-wrapper {
    #model-tier1 {
      .tier-content {
        padding: 80px 120px 80px 0;
        margin-left: 55%;
      }
    }
    #model-tier2 {
      .tier-content {
        padding: 50px 80px 50px 100px;
      }
    }
    #model-tier4 {
      .tier-content {
        padding: 50px 80px 50px 100px;
      }
    }
    #model-tier3,
    #model-tier5 {
      .tier-content {
        padding: 50px 120px 50px 0;
        margin-left: 55%;
      }
    }
    #model-tier3 {
      background-position: -50px center;
    }
    #model-tier5 {
      background-position: -20px center;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1150px),
       only screen and (min-device-pixel-ratio: 2) and (min-width: 1150px) {
  .modern {

    &.backgroundsize body.page-node-12 #main-wrapper {
      #model-tier3 {
        background-position: -50px center;
      }
      #model-tier5 {
        background-position: -20px center;
      }
    }

  }
}
